.contact {
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 599px) {
        width: 600px;
    }
    a {
        order: 1;
        display: inline;
        margin: 5px;
        align-self: center;
    }
    img {
        width: 25px;
        max-height: 25px;
    }
}
